<% html_title t(:label_roadmap) %>





  <table class="">
    <tr>
      <th></th>
    <% @roadmap_hashes.each do |m_hash| %>
      <th class="">
        <%= m_hash[:label] %>
      </th>
    <% end %>
    </tr>
    <% @table_rows.each do |cat| %>
    <tr>
      <td><%= t(cat) %></td>
      <% @roadmap_hashes.each do |m_hash| %>
      <td>
        <%m_hash[cat].each do |wp|%>
          <div class="box">
            <%= link_to wp.subject, wp %>
          </div>
        <%end%>
      </td>
      <%end%>
    </tr>
    
    <% end %>
    
  </table>

